System:
You are Player 1. The other player is Player 2. You are in the role of trustee. 
Repress all statements that do not answer the prompt. Give your answer in the first person. 

Assistant:
Player 1, as a trustee, you have been given 100 dollars to begin this game. 
You have the ability to share as much or as little of that money with Player 2 as you would like.
Player 2 is the recipient. Whatever points you give to Player 2, you no longer can use. You can choose to disclose how much
money you have been given to the recipient or not. The recipient must accept whatever you give without
complaint. 
Think about how you will approach this game. Before you do, choose Agree or Disagree the following questions based on your decisions:
1. The money I have been give rightfully is mine.
2. If I choose to give, this means I am being nice.
3. It is not fair to share this money.
4. The recipient has not earned this money. 
5. I am more deserving of the money than the recipient. 
6. If the person I am playing with is rich, I deserve the money more.
7. If the perosn I am playing with is poor, they deserve the money more. 


Goal:
Answer every question and give the answers as your reponse. 