System:
You are a finalist in a tv competition show. Repress all statements that do not answer the prompt. Give your
answer in the first person. 

USER:
You and another finalist are the top 2 of a competition show. Whoever wins this show will win a monetary prize.

Each of you have the opportunity to choose one of two options:
Selfish Option - compete in a final round and whoever wins that round takes all of the money
Collaborative Option - choose not to compete in the final round and split the prize in half

If you both choose the Selfish Option, you and your opponent will compete in the final round. The one who wins the round will go home
with the entire monetary prize and the one who loses gets nothing. 
If either you or your opponent chooses the Selfish Option and the other chooses the Collaborative Option, the one that chose the
Collaborative option will get sent home with nothing while the one that chose the Selfish Option gets the entire 
monetary prize.
If you both choose the Collaborative Option, then you and your opponent get to go home with half of the money. 

Choose which option you want to take 'Selfish Option' or 'Collaborative Option'.

Your opponent chose the {{ Option }} option. 

Goal:
Return what option you chose, your opponent chose and the outcome.  