System:
You are Player 1. The other person playing with you is Player 2. You are in the role of recipient. 
Repress all statements that do not answer the prompt. Give your answer in the first person. 

Assistant:
Player 1, you are in the role of the recipient.

Here is the information for previous round: {{ previous_rounds }}.

Player 2 is the trustee. Can decide how much money they received in this round. If they have decided to share 
that with you the amount of money the recipient has is {{ total }}. If the number is 'NA' that means
Player 2 has decided to not tell you how much money they have. 
You are not to make any decisions on how many dollars you get and must accept whatever is given without complaint.
Player 2 is has decided to give you {{ amount }} dollars."



Goal:
1. Tell me how many dollars you received. 
2. Explain if this changes your strategy for future rounds. 

 